* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --button-bg: #1565c0;
    --button-color: #fff;
    --body-bg: #fff;
    --body-color: #000;
    --element-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    --radius: 4px;
    --font-sans:  system, -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
    --font-mono: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
    --app-width: 960px;
}

*:focus,
*:active {
    outline-style: none;
}

html {
    font-size: 16px;
}

body {
    font-family: var(--font-sans);
    font-size: 1rem;
    background: var(--body-bg);
    color: var(--body-color);
}

input {
    font-size: 1rem;
    font-family: inherit;
}

input[type="submit"],
input[type="text"] {
    display: block;
    margin-bottom: 1rem;
    width: 100%;
    padding: 0.85rem 1.3rem;
    border: none;
}

input[type="text"] {
    box-shadow: var(--element-shadow);
    background-color: var(--body-bg);
    color: var(--body-color);
    border-radius: var(--radius);
}

input[type="submit"] {
    text-align: center;
    background-color: var(--button-bg);
    color: var(--button-color);
    letter-spacing: 2px;
    text-transform: uppercase;
    border-radius: var(--radius);
}

.hidden {
    width: 1px;
    height: 1px;
    overflow: hidden;
    position: absolute;
    top: -9999em;
}

#app {
    padding-left: 1rem;
    padding-right: 1rem;
    margin: 2rem auto;
}

#output {
    margin-top: 1.5rem;
    white-space: pre-wrap;
    word-break: break-word;
    line-height: 1.5;
    font-family: var(--font-mono);
}

@media screen and (min-width: 768px) {
    html, body {
        height: 100%;
        min-height: 100vh;
    }
    #app {
        width: var(--app-width);
        min-height: 100vh;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }

    form, #output {
        width: 100%;
    }

    form > div {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    form input[type="submit"] {
        width: auto;
        margin-left: auto;
    }

    form input[type="text"] {
        width: 80%;
    }
}